main {

    min-height: 80vh;
}

h1 {
    font-size: 3em;
}

.navbar, button a{
    text-decoration: none;
    color: #ffffff;


}
.navbar, button a:hover{
    text-decoration: none;
    color: #35dcb5;
}

th ,tr{
    text-align: center;
}



/*Gestion des images*/
.ImgAccueil{
    width: 100%;


}


footer{

    margin-top: 150px;
}

/*Style commun aux différentes page*/

.accueil{
    margin: 10px auto 0 auto;
    width: 400px;
    text-align: center;
    overflow: hidden;
}

.center{
    margin: 0 auto;
    width: 80%;
}

.mt50{
    margin-top: 50px;
}

